<launch>
    <include file="$(find random_walker_auto_docking)/launch/tb_bringup.minimal.launch"/>

    <include file="$(find kobuki_auto_docking)/launch/minimal.launch"/>

    <param name="AUTODOCK_BATTERY_LEVEL" value="98.0" />
    <param name="UNDOCK_BATTERY_LEVEL" value="99.0" />
    <node name="rwad" pkg="random_walker_auto_docking" type="rwad_controller"/>

    <include file="$(find kobuki_random_walker)/launch/random_walker_app.launch"/>
    
</launch>
